{% extends 'base.html.twig' %}

{% block title %}Jeux disponibles{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_game') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_game') }}
{% endblock %}

{% block body %}

    <h3 class="mb-4">Games</h3>
    <select class="form-select my-3" aria-label="City select" style="width: 200px" id="city-select">
        {% for city in cities %}
            <option value="{{ city.id }}"
                    {% if selectedCity.id == city.id %}selected{% endif %}>{{ city.name }}</option>
        {% endfor %}
    </select>
    <div class="row gx-2 gy-2">
        {% for game in games %}
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="card game-card h-100" style="width: 16rem;">
                    <img class="card-img-top"
                         src="
                            {% if game.image is not null %}
                                {{ asset('uploads/game/' ~ game.image) }}
                            {% else %}
                                {{ asset('images/defaultGame.png') }}
                            {% endif %}"
                         alt="Game image">
                    <div class="card-body">
                        <h5 class="card-title">{{ game.name }}</h5>
                        <p>{% for category in game.categories %}<span class="badge rounded-pill my-1" style="background-color: {{ category.color }}">{{ category.name }}</span>&nbsp;{% endfor %}</p>
                        <a href="{{ path("app_game_details", {id: game.id}) }}" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
